.venv
__pycache__
checkpoints
models
data
/pyproject.toml
poetry.lock
dist
clients/python/moondream/torch
wandb/
moondream_finetune.safetensors
moondream/finetune/evaluate_finetune.py
.aider*
.coverage
coverage.xml